<!-- home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LastMile</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poetsen+One&family=Signika:wght@300;400&family=Teko:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&family=Sedan+SC&family=Signika:wght@300;400&family=Teko:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg" id="navBar">
        <a class="navbar-brand" href="/"><img src="/images/Logo.png" style="width: 50px;margin-right:10px">LastMile</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/business">Business Owner <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/fleet">Fleet Management</a>
            </li>
        </div>
      </nav>
      <span id="homecmp"><div style="margin-top: 100px; width: 30%;padding-right: 2em;"><h4><img src="/images/sb.png" width="200px"><br>Unlock the power of seamless logistics with LastMile! Attention business owners: Say goodbye to insecure transactions and to high delivery costs and lack of <br>real-time analytics.<button class="btn btn-info m-3"><a href="/business">Go to Business Owner side</a></button></h4></div>
      <div style=" width: 30%;">
<img src="images/home1.png" style="width: 100%"> <h2 id="tagline"> Go that extra mile for your businesses!</h2></div>
<div style="margin-top:100px;width: 30%;padding-left: 2em;"><h4><img src="/images/del.png" width="200px"><br>Delivery system owners, maximize your fleet's efficiency and ensure customer satisfaction with our cutting-edge platform. <br>Join us now and revolutionize your logistics game!<button class="btn btn-info m-3"><a href="/fleet">Go to Fleet Management side</a></button></h4></div></span>
</body>
</html>
